.bodywrap{
  margin: 20% 20%;
  input{
    margin: 0 30%;
    border-style: none;
  }
  ul{
    margin: 0 30%;
  }
  .chat-return{
    background-color: green;
    color: whitesmoke;
    display: inline-block;
  }
}
