$chatgreen: #92c6c1;
$bodybg: whitesmoke;
$chatbg: white;

body{
  background: $bodybg;
  .bodywrap{
    background: $chatbg;
    margin: 0 17.5% 5% 17.5%;
    padding: 2% 0 0 0;
    .chatheader{
      font-family: 'lato', sans-serif;
      color:  darken($chatgreen, 25%);
      font-size: 3em;
      font-weight: 300;
      position: absolute;
      background-color: $chatbg;
      width: 65%;
      height:58px;
      text-align: center;
      top: 0;
      display: block;
      z-index: 1;
      @media screen and (max-width: 700px){
            height: 45px;
         }
      // @media screen and (max-width: 300px){
      //         //  width: 70%;
      //     }
    }
    .inputwrap{
      position: absolute;
      bottom: 0;
      padding: 0 0 1% 0;
      color:  darken($chatgreen, 10%);
      background-color: $chatbg;
      width: 65%;
        input{
          margin: 0 0 0 1%;
          border-style: none;
          width: 88%;
          line-height: 2em;
          color: darken($chatgreen, 30%);
          font-size: 1.5em;
          @media screen and (max-width: 900px){
                width: 80%;
             }
          @media screen and (max-width: 300px){
                   width: 70%;
              }
        }
        .fa-comment{
          font-size: 2.5em;
          margin: 0 0 0 2%;
          @media screen and (max-width: 900px){
                font-size: 2em;
             }
        }
      }
    .chatbody{
      background-color: $chatbg;
      overflow: scroll;
      position: absolute;
      margin: 4% 0 0 0;
      height: 78.5%;
      width: 65%;
      // margin: 0 0 10% 0;
      @media screen and (max-width: 900px){
            height: 85%;
         }
      @media screen and (max-width: 400px){
               height: 90%;
          }
      .userinput{
        background-color: $chatgreen;
        color: lighten($chatbg, 10%);
        display: block;
        float: right;
        width: 40%;
        margin: .5% 2% 1% 11%;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
        line-height: 1.2em;
        padding: 2% 2%;
        border-radius: .3em 0 .3em .3em;
        font-size: 1.5em;
        font-family: 'lato', sans-serif;
        font-weight: 300;
      }
      .returnedinput{
        background-color: $chatbg;
        color: slategrey;
        display: block;
        float: left;
        width: 40%;
        margin: .5% 11% 2% 2%;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
        line-height: 1.2em;
        padding: 2% 2%;
        border-radius:  0 .3em  .3em .3em;
        font-size: 1.5em;
        font-family: 'lato', sans-serif;
        font-weight: 300;
        .returnedimage{
          height: 90%;
          width: 90%;
        }
      }
      .returnedhelp{
        background-color: $chatbg;
        color: slategrey;
        display: block;
        float: left;
        width: 90%;
        margin: .5% 11% 2% 2%;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
        line-height: 1.2em;
        padding: 2% 2%;
        border-radius:  0 .3em  .3em .3em;
        font-size: 1.5em;
        font-family: 'lato', sans-serif;
        font-weight: 300;
      }
    }
  }
}
